  <h1>Angular2 CRUD Demo App</h1>
  <h2>Keylog companies</h2>
  <p> <button (click)="toggleFormView(); closeUpdateView();">Show/Hide Create Company Form</button>
   <!-- <button (click)="closeUpdateView()">Close Company Update Form</button> --> 
   <button (click)="deleteCompany(selectedCompany.BusinessDisplayName)">Delete Selected Company</button></p>
  <div *ngIf="selectedCompany">
  <h2>Edit Company: {{selectedCompany.BusinessDisplayName}}</h2>
  Company Id: <input [(ngModel)]="selectedCompany.BusinessId" required/><br />
  Company Trading Name: <input [(ngModel)]="selectedCompany.BusinessTradingName" required/><br />
  Company Description: <input [(ngModel)]="selectedCompany.BusinessDescription" required/><br />
  Company Display Name: <input [(ngModel)]="selectedCompany.BusinessDisplayName" required/><br />
  Company Business Number: <input [(ngModel)]="selectedCompany.BusinessNumber" required/><br />
  Company Number: <input [(ngModel)]="selectedCompany.CompanyNumber" required/><br />
  Company Landline: <input [(ngModel)]="selectedCompany.BusinessLandline" required/><br />
  Company Fax: <input [(ngModel)]="selectedCompany.BusinessFaxNumber" required/><br />
  Company URL: <input [(ngModel)]="selectedCompany.BusinessWebsiteUrl" required/><br />
  Company Contact Email: <input [(ngModel)]="selectedCompany.BusinessContactUsEmail" required/><br />
  <p> </p>
  </div>
  <div *ngIf="formView">
  <h2>Create New Company</h2>
  Company Id: <input #companyId /><br />
  Company Trading Name: <input #companyTradeName required/><br />
  Company Description: <input #companyDescription required/><br />
  Company Display Name: <input #companyDisplayName required/><br />
  Company Business Number: <input #companyBusinessNumber required/><br />
  Company Number: <input #companyNumber required/><br />
  Company Landline: <input #companyLandline required/><br />
  Company Fax: <input #companyFaxNumber required/><br />
  Company URL: <input #companyWebsiteUrl required/><br />
  Company Contact Email: <input #companyContactUsEmail required/><br />

  <button (click)="addCompany(companyId.value, companyTradeName.value, companyDescription.value, companyDisplayName.value, companyBusinessNumber.value, companyNumber.value, companyLandline.value, companyFaxNumber.value, companyWebsiteUrl.value, companyContactUsEmail.value); 
  companyId.value=''; companyTradeName.value=''; companyDescription.value=''; companyDisplayName.value=''; companyBusinessNumber.value=''; companyNumber.value=''; companyLandline.value=''; companyFaxNumber.value=''; companyWebsiteUrl.value=''; companyContactUsEmail.value=''; 
  toggleFormView()">Create Company</button>

  </div>
  <ul>
    <li *ngFor='let company of companies' [class.selected]="company === selectedCompany" (click)="onselect(company); this.formView=false;"><span class="badge">{{company.BusinessTradingName}}, {{company.BusinessDescription}}, {{company.BusinessDisplayName}}, {{company.BusinessNumber}}, {{company.CompanyNumber}}, {{company.BusinessLandline}}, {{company.BusinessFaxNumber}}, {{company.BusinessWebsiteUrl}}, {{company.BusinessContactUsEmail}}</span>
  </ul>